// Here you can add other styles

ul.header-nav li.nav-item:hover{
    background-color: var(--cui-tertiary-bg);
    border-radius: 5%;
}
.search-item .card:hover{
    background-color: var(--cui-header-hover-color);
    color: var(--cui-sidebar-nav-link-hover-color)!important;        
    background: var(--cui-sidebar-nav-link-hover-bg)!important;
}
.header-nav .nav-link:hover, .header-nav .nav-link:focus {
    color: var(--cui-header-hover-color);
}


.km-input-ar input, .km-input-ar textarea{
    direction: rtl;
}
.km-value{
    border-width: #{$card-border-width};
    border-color: #{$card-border-color};
    border-radius: #{$card-border-radius};
    box-shadow: #{$card-box-shadow};
}

.form-group label{
    font-weight: 700;
}
// .km-value-ml-html.ck-content ul {
//     list-style: none;
//  } 
//  .km-value-ml-html.ck-content ul:first{
//     padding-left: 10px;
// }
.km-value-ml-html.ck-content img {
    max-width: 100%; // some images are going beyond the container
}

.km-form-group .mandatory {
    border-left: 5px solid red;
    padding-left: 10px;
}
.km-form-group label.required:after, .km-form-group label[required]:after {
    color: #e32;
    content: ' * ';
}
.km-form-group.has-help label.control-label{
    display: unset;
}
.km-form-group .control-label{
    font-weight: 700;
}
 
 font-awesome-icon{
    padding-right: 5px;
 }


 .has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, 
 .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, 
 .has-error.radio-inline label, .has-error.checkbox-inline label, .has-error .multiselect .multiselect__tags {
    color: #a94442;
}

.has-error .form-control,
.has-error .multiselect .multiselect__tags,
.has-error .ck.ck-editor__main {
    border-color: #a94442!important;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}
.has-error .ck.ck-editor__main{
    border: 1px solid;
}
.has-error .input-group-text,
.has-error .multiselect .multiselect__tags {
    color: #a94442;
    background-color: #f2dede;
    border-color: #a94442!important;
}

.dim-section{
    pointer-events: none;
    opacity: 0.4;
}
.v-toast.v-toast--top {
    z-index: 1000000;
}
.multiselect__content-wrapper,
.form-control:focus {
    box-shadow: 0 0 0 0.15rem rgba(3, 39, 94, 0.25);
}
.mb-0{
    margin-bottom: 0px!important;
}

.border-left-info {
    border-left-color: #39f!important
}
.border-left-3 {
    border-left-width: 3px!important;
}

.comma:not(:last-of-type):after {
    content: ", ";
}
.unset-anchor{
    color: unset;
    text-decoration: unset;
}

.hand-cursor:hover{
    cursor: pointer;
}

.alert-sm{
    padding: 0.5rem;
    margin: 0;
}


[data-v-onboarding-wrapper] svg,
[data-v-onboarding-wrapper] [data-popper-placement]{
    z-index: 10000 !important;
}